doctype 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title= title
    //
       Application root.
    base(href='/')
    //
       Application styles.
    link(rel='stylesheet', href='stylesheets/reset.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/invalid.css')
    link(rel='stylesheet', href='stylesheets/vitality.css')

    block head
  body
    block content
      //
         Main container.

    //
       Application source.
    script(data-main='javascripts/config', src='javascripts/libs/require.js')
