.thumbnail-wrap {
    float: left;
    height: 226px;
    margin: 20px;
    width: 201px;
}
.thumbnail-div {
    background-color: #313131;
    float: left;
    height: 221px;
    padding: 5px 0 0 5px;
    width: 196px;
}
 .thumbnail-div .sections-overlay {
     -moz-background-clip: border;
     -moz-background-inline-policy: continuous;
     -moz-background-origin: padding;
     background: transparent url(../images/thumbnail-overlay.png) no-repeat scroll -40px -300px;

     height:206px;
     float: left;
     margin-top: -35px;
 }
 .thumbnail-div .sections-overlay .zoom { margin: 60px 0 0 61px }
 .thumbnail-div div {
     height: 216px;
     width: 191px;
 }
.thumbnail-shadow {
    float: left;
    height: 33px;
    width: 100%;
}
.sections-overlay {
    background-image: url(../images/readmore-bg.png);
    opacity: 0;
    visibility: hidden;
    background-position: 0px -167px;
}

.sections-overlay .zoom {
     border: medium none;
     margin: 165px 0 0 312px;
 }
.readmore {
    background-image: url(../images/readmore-bg.png);
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 10px;
    margin: 17px 0 0 40px;
    padding: 5px 10px;
}