
{{#page cakes  page=8}}
{{#if @pEnd}}
</div>
{{/if}}

{{#if @pStart}}
<div class="f-page f-cakes">
  <div class="f-title">
    <a href="/showcases/{{../../showcase._id}}" data-bypass>返回</a>
    <h2>{{../../showcase.title}}</h2>
    <a href="#"></a>
  </div>
{{/if}}

  <div class="box cake w-25 h-50">

    <div class="img-thumb  " style="background-image:url({{cover}})"></div>

    <h3>{{title}}</h3>
    <input type='hidden' value={{_id}} name="id" />
  </div>

{{#if @end}}
</div>
{{/if}}

{{/page}}
