
{{#page topics  tmpl=tTmpl page=5}}
{{#if @pEnd}}
</div>
{{/if}}

{{#if @pStart}}
<div class="f-page f-topics">
  <div class="f-title">
    <a href="{{getUrl}}" data-bypass>返回</a>
    <h2>{{../../cake}}</h2>
    <a href="#"></a>
  </div>
{{/if}}

  <div class="box topic {{@tmpl}}">
    {{#disHtml content}}
    {{#if @hasimg}}
    <div class="img-cont " style="background-image:url({{@coverimg}})"></div>
    {{/if}}

    <h3>{{../title}}</h3>
    <p>{{@text}}</p>
    <div class='real'>{{{@html}}}</div>
    {{/disHtml}}
  </div>
{{#if @end}}
</div>
{{/if}}

{{/page}}
