<form>
  <fieldset>
    <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
    <p>
      <label>名称</label>
      <input class="text-input small-input" type="text" id="title"  name="title" value="{{model.attributes.title}}" ></input>
      <span class="input-notification success png_bg">Successful message</span>
      <!-- Classes for input-notification: success, error, information, attention -->
      <br />
      <small>输入创建展示项目的名称</small> </p>
    <p>
      <label>说明</label>
      <input class="text-input medium-input datepicker" type="text"
             id="medium-input" name="description" value="{{model.attributes.description}}" ></input>
      <span class="input-notification error png_bg">Error message</span> </p>
    <p class ="upload_box">
      <label>图片</label>
      <input class="text-input medium-input" type="text"
             id="cover-image" name="cover" value="{{model.attributes.cover}}" ></input>
    </p>
    <p id="select-cake">
      <label>栏目</label>
    </p>
    <p>
      <input type="checkbox" name="publiced" {{checked model.attributes.publiced}} />
      是否公开本展示
    <p>

    <p>
      <input class="button save" type="submit" value="提交" />
    </p>
  </fieldset>
  <div class="clear"></div>
  <!-- End .clear -->

</form>
