  <td><a href="#" title="title">{{trimS model.attributes.title 0 30 }}</a></td>
  <td>{{trimS model.attributes.content 0 60}}</td>
  <td>{{model.attributes.author_id}}</td>
  <td>{{trimS model.attributes.create_at 0 10 1}}</td> <!-- FIX: date become string type -->
  <td>
    <!-- Icons -->
    <a href="admin/topics/{{model.attributes._id}}/edit" title="Edit"><img src="images/icons/pencil.png" alt="Edit" /></a> <a href="admin/topics/{{model.attributes._id}}/delete" title="Delete"><img src="images/icons/cross.png" alt="Delete" /></a>  </td>

