<form>
  <fieldset>
    <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
    <p>
      <label>准备转移：</label>
      <input class="text-input small-input" type="text" id="dataout"  name="dataout"  ></input>
      <span class="input-notification success png_bg">Successful message</span>
      <!-- Classes for input-notification: success, error, information, attention -->
      <br />
      <small>输入准备转移的大集中号</small> </p>

    <p>
      <label>接收数据：</label>
      <input class="text-input small-input" type="text" id="datain"  name="datain"  ></input>
      <span class="input-notification success png_bg">Successful message</span>
      <!-- Classes for input-notification: success, error, information, attention -->
      <br />
      <small>输入接收数据的大集中号</small> </p>

    <p>
      <input class="button save" type="submit" value="提交" />
    </p>
  </fieldset>
  <div class="clear"></div>
  <!-- End .clear -->

</form>
